
.idea/.name

.idea/encodings.xml

.idea/misc.xml

.idea/modules.xml

.idea/scopes/scope_settings.xml

.idea/vcs.xml

.idea/visualize311.iml

.idea/workspace.xml

311_alldata2014.csv

311_countsZip.html

311_data.csv

311_limitedcolumns2014.csv

tl_2013_us_zcta510/tl_2013_us_zcta510.dbf

tl_2013_us_zcta510/tl_2013_us_zcta510.shp

tl_2013_us_zcta510/tl_2013_us_zcta510.shx

tl_2013_us_zcta510/tl_2013_us_zcta510.shp.xml

tl_2013_us_zcta510/tl_2013_us_zcta510.prj
